@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "NanumSquareRound";
  font-weight: bold;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*   title bar   */
.version {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: lighter;
  position: absolute;
  bottom: 9px;
  right: -40px;
}
header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: relative;
  padding-bottom: 2px;
}
/*   information   */
.parti,
.cordi {
  height: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.txt {
  font-weight: lighter;
  font-size: 12px;
}
.name {
  padding-right: 4px;
}
.info {
  width: 303px;
  height: 38px;
  border: #c9c9c9 1px solid;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 19px;
  margin-bottom: 12px;
}
/*   buttons   */
.typetab button {
  width: 94px;
  height: 33px;
  border: none;
  border-radius: 20px;
  background-color: #e2e2e2;
  font-size: 14px;
  font-weight: bolder;
  color: #ffffff;
}
.typetab img {
  margin-right: 9px;
  color: #ffffff;
  filter: invert(100%) sepia(96%) hue-rotate(74deg) brightness(104%)
    contrast(104%);
}
#present {
  background-color: #ff8836;
}
.typetab {
  width: 302px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
/*   upload pic   */
.picture img {
  width: 52px;
  height: 46px;
  color: #ff8836;
  filter: invert(87%) sepia(5%) saturate(6376%) hue-rotate(306deg)
    brightness(120%) contrast(101%);
}
.uptxt {
  font-size: 14px;
  color: #adafb3;
  text-align: center;
  margin-top: 9px;
}
.picture {
  width: 302px;
  height: 365px;
  border: #ff8836 3px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
